container_commands:
    01_supervisor_install:
        command: "sudo easy_install supervisor"
    02_mkdir_supervisor:
        command: "s"
    03_sudo_mkdir_confd:
        command: "sudo mkdir /etc/supervisor/conf.d/"
    04_cp_laravel_worker_conf:
        command: "sudo cp .ebextensions/supervisor/laravel-worker.conf /etc/supervisor/conf.d/laravel-worker.conf"
    05_cp_supervisord_conf:
        command: "sudo cp .ebextensions/supervisor/supervisord.conf /etc/supervisord.conf"
    06_touch_laravel_worker_log:
            command: "sudo touch /var/app/current/storage/logs/worker.log"
    07_mkdir_supervisor_log:
        command: "sudo mkdir /var/log/supervisor/"
    08_touch_supervisor_log:
        command: "sudo touch /var/log/supervisor/supervisord.log"
    09_restart_supervisord:
        command: "sudo /usr/local/bin/supervisord -c /etc/supervisord.conf"
    10_reread_supervisorctl:
        command: "sudo /usr/local/bin/supervisorctl reread"
    11_update_supervisorctl:
        command: "sudo /usr/local/bin/supervisorctl update"
    12_start_laravel_worker:
        command: "sudo /usr/local/bin/supervisorctl start laravel-worker:*"

